<p>1. Add a button which says 'Display Details'</p>
<p>2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</p>
<p>3. Toogle the displaying of that paragraph with the button created in the first step</p>
<p>4. Log all button click in an array and output taht array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</p>
<p>5. Starting at the 5th log item, give all future log items a blue blackground (via ngStyle) and white color (ngClass)</p>

<hr>
<p>Username</p>

<input type="text" [(ngModel)]="value">
<p>{{ value }}</p>


<button [disabled] = "value === ''" (click)="reset()">RESET</button>

